.wrapper {
  color: #000000;
  font-family: "Open Sans";
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7%;
}
header > .bad-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header > .bad-header .text {
  width: 50%;
  padding-left: 3%;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
}
header div {
  font-size: 19px;
  font-weight: 400;
  line-height: 20px;
}
header div i {
  margin-left: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6e6e6;
  height: 41px;
  padding: 0 7%;
}
nav ul {
  /*padding-left: 0;
  margin-bottom: 0;*/
  min-width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
}
nav ul li {
  display: flex;
  align-items: center;
  padding: 0 5%;
  height: 100%;
}
nav ul li a {
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  color: inherit;
}
nav ul li a:hover {
  color: inherit;
  text-decoration: none;
}
nav ul li:hover {
  border-bottom: 1px solid #8cc63e;
}
nav input {
  border: 1px solid #e6e6e6;
}

.search-icon {
  margin-left: -20px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  /*height: 290px;*/
}
.grid-item div {
  margin-bottom: 10px;
}

.propose-image {
  position: relative;
  /*	height: 180px;*/
}
.propose-image div {
  color: #fff;
  background-color: #8cc63e;
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}

.main-padding {
  padding: 0 7%;
  margin-top: 55px;
}

.header-width-img {
  /*height: 362px;*/
  margin-top: 40px;
}

/*.header-big-image{
	background: url(img/baner.png);
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}*/
.header-big-image {
  height: 362px;
}
.header-big-image img {
  height: 100%;
  width: 100%;
}

/*.header-big-image{
	width: 100%;
	position: relative;
}*/
.header-state {
  background: #000000 url(img/right.png);
  background-size: cover;
  height: 120px;
  margin-top: 1px;
  background-repeat: round;
}
.header-state div {
  padding: 3%;
  background-color: #8cc63e;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
}

section h3 {
  font-size: 25px;
  font-weight: 400;
  line-height: 17px;
}
section > button {
  float: right;
  background-color: inherit;
  border: 1px solid #90bc3b;
  color: #659a00;
  border-radius: 4px;
  padding: 10px 20px;
  margin-top: -20px;
}
section > button:hover {
  color: white;
  background-color: #90bc3b;
}
section > .row {
  margin-top: 50px;
}

.grid-product-item {
  height: 270px;
  border: 1px solid #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.grid-product-item h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  height: 45px;
}
.grid-product-item p {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  margin-top: 20px;
}
.grid-product-item .grey-block-item {
  height: 104px;
  width: 75%;
  background-color: #f2f2f2;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.grid-product-item:hover {
  background: url(img/hover-parket.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.grey-block-item i {
  font-size: 30px;
  color: #8cc63e;
}

.grid-product-item:hover i {
  border: 1px solid #8cc63e;
  border-radius: 40px;
  padding: 24px 27px;
  background-color: #8cc63e;
  color: white;
  cursor: default;
}
.grid-product-item:hover .grey-block-item {
  background: transparent;
}

.grid-item .propose-image image {
  width: 100%;
}
.grid-item div p {
  text-align: center;
  height: 65px;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}
.grid-item div .propose-text {
  display: flex;
  justify-content: space-around;
}

.propose-text span:first-child {
  font-size: 20px;
  font-weight: 400;
}
.propose-text span:last-child {
  color: #999999;
  font-size: 15px;
  font-weight: 400;
  text-decoration: line-through;
}

.grid-item:hover {
  box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
.grid-item:hover p {
  color: #518d00;
}
.grid-item:hover div {
  font-size: 30px;
}
