.wrapper{
	color: #000000;
	font-family: "Open Sans";
}
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 7%;
}
header > .bad-header{
	display: flex;
	flex-direction: row;
	align-items: center;
}
header > .bad-header .text{
	width: 50%;
	padding-left: 3%;
	font-size: 15px;
	font-weight: 400;
	line-height: 21px;
}
header div{
	font-size: 19px;
	font-weight: 400;
	line-height: 20px;
}
header div i{
	margin-left: 30px;
}
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #e6e6e6;
	padding: 0 7%;
}
nav ul{
	/*padding-left: 0;
	margin-bottom: 0;*/
	min-width: 75%;
	height: 100%;
	display: flex;
	align-items: center;
}
nav ul li{
	display: flex;
	align-items: center;
	padding: 0 5%;
	height: 100%;
}
nav ul li a{
	font-size: 1em;
	font-weight: 400;
	line-height: 1.2em;
	color: inherit;
}
nav ul li a:hover{
	color: inherit;
	text-decoration: none;

}
nav ul li:hover{
	border-bottom: 1px solid #8cc63e;
}
nav input{
	border: 1px solid #e6e6e6;
}
.search-icon{
	margin-left: -20px;
}
.grid-item{
	display: flex;
	flex-direction: column;
	border: 1px solid #ccc;
}
.grid-item div{
	/*margin-bottom: 10px;*/
}
.propose-image{
	position: relative;
/*	height: 180px;*/
}
.propose-image .procent{
	color: #fff;
	background-color: #8cc63e;
	width: 72px;
	height: 72px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
}
.main-padding{
	padding: 0 7%;
	margin-top: 5%;
}
.header-width-img{
	/*height: 362px;*/
	margin-top: 3%;
	margin-right: 15px;
}
/*.header-big-image{
	background: url(img/baner.png);
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}*/
.header-big-image{
	height: 362px
}
.header-big-image img{
	height: 100%;
	width: 102%;
}
/*.header-big-image{
	width: 100%;
	position: relative;
}*/
.header-state{
	background: #000000 url(img/right.png);
	background-size: cover;
	height: 120px;
	width: 110%;
	margin-top: 1px;
	background-repeat: round;
}
.header-state div{
	padding: 3%;
	background-color: #8cc63e;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: white;
}
.image_state{
	padding-left: 22px;
}
section h3{
	font-size: 25px;
	font-weight: 400;
	line-height: 17px;
	margin-top: 5%;
}
section > button{
	float: right;
	background-color: inherit;
	border: 1px solid #90bc3b;
	color: #659a00;
	border-radius: 4px;
	padding: 10px 20px;
	margin-top: -20px;
}
section > button:hover{
	color: white;
	background-color: #90bc3b;
}
section > .row{
	margin-top: 50px;
}
.grid-product-item{
	height: 270px;
	border: 1px solid #e6e6e6;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.grid-product-item h4{
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
	text-align: center;
	height: 45px;
}
.grid-product-item p{
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
	text-align: center;
	margin-top: 20px;
}
.grid-product-item .grey-block-item{
	height: 104px;
	width: 75%;
	background-color: #f2f2f2;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.grid-product-item:hover{
	background: url(img/hover-parket.png);
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	
}
.grey-block-item i{
	font-size: 30px;
	color: #8cc63e;
}
.grid-product-item:hover i{
	border: 1px solid #8cc63e;
	border-radius: 40px;
	padding: 24px 27px;
	background-color: #8cc63e;
	color: white;
	cursor: default;
}
.grid-product-item:hover .grey-block-item{
	background: transparent;
}
.grid-item .propose-image image{
	width: 100%;
}
.grid-item div p{
	text-align: center;
	height: 65px;
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
}
.grid-item div .propose-text{
	display: flex;
	justify-content: space-around;
	margin-bottom: 10px;
}
.propose-text span:first-child{
	font-size: 20px;
	font-weight: 400;
}
.propose-text span:last-child{
	color: #999999;
	font-size: 15px;
	font-weight: 400;
	text-decoration: line-through;
}
.grid-item:hover{
	box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.2);
	background-color: #ffffff;
}
.grid-item:hover p{
	color: #518d00;
}
.grid-item:hover .procent{
	font-size: 30px;
}
.realwood{
	background-color: #f5f5f5;
}
.realwood h3{
	padding-top: 5%;
}
.grid-realwood{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 250px;
}
.green-circle i{
	font-size: 30px;
	color: #90bc3b;
	padding: 22px;
	border: 2px solid #90bc3b;
	border-radius: 35px;
}
.grid-realwood > h4{
	text-align: center;
	font-family: "Open Sans";
}
.grid-realwood > p{
	text-align: center;
	font-family: "Open Sans";
}
.grid-realwood h4{
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
	margin: 10px auto;
}
.grid-realwood p{
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
}
.grid-realwood:hover i{
	color: white;
	background-color: #90bc3b;
}
.grid-realwood:hover h4{
	color: #90bc3b;
}
.grid-leader{
	display: flex;
	flex-direction: column;
}
.grid-leader h4{
	font-family: "Open Sans";
	font-size: 23px;
	font-weight: 400;
	margin-top: 10px;
}
.grid-leader h5{
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	margin-top: 25px;
}
.grid-leader p{
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
	margin-top: 25px;
}
.grid-leader button{
    display: inline-table;
    background-color: #90bc3b;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    margin-top: 15px;
}
.order{
	background-image: url(img/background-big-1.png);
	height: 462px;
	background-repeat: round;
}


@media screen and (max-width: 960px) {
	nav{
		flex-direction: column;
	}
	.grid-product-item{
		margin: 1% 0;
	}

	.image_state{
		margin-left: -22px;
		margin-right: 35px;
	}
	
	.header-big-image img{
		width: 105%;
	}



}